@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4;
  margin: 0;
}

body {
  @apply bg-white;
  width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  margin: 0 auto;
}